    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #3cb3f8;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    
    #display {
        margin-top: 50px;
    }
    
    button {
        width: 100px;
        border-radius: 7px;
        cursor: pointer;
        background-color: rgba(198, 235, 139, 0.5);
        padding: 3px;
        margin-top: 20px;
    }
    
    input:focus {
        /* outline: 0; */
    }